#myProfile{

font-family: "Lucida Console", Monospace;
font-size: 50px;
text-align: center;
color: green

}



body {
    background-color: black;
    color: green;
    font-family: "Lucida Console", Monospace;
}

.container {
    display: flex; /*  side by side */
    align-items: flex-start; /* to top */
}

#box1, #box2, #box3 {
    border-style: solid;
    border-width: 5px;
    padding: 20px;
    box-sizing: border-box;
    margin: 25px;
    width: 500px;
    height: 550px;
}

#box2 {
    margin-left: 25px;
    height: 300px;
}

#box3 {
    margin-left: 25px;
}


<style>
a:link {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: green;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: none;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: none;
}
</style>


